<h1 class="title">Product list</h1>

<mat-form-field class="filter-input">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>
<button class="add-button" (click)="openDialog()" color="primary" mat-mini-fab>
    <mat-icon>add</mat-icon>
</button>

<div class="mat-elevation-z8 table-wrapper">

    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> <a [routerLink]="['/products', row.id]">{{row.name}}</a> </td>
        </ng-container>

        <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> cost </th>
            <td mat-cell *matCellDef="let row"> ${{row.cost}} </td>
        </ng-container>


        <ng-container matColumnDef="sku">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> sku </th>
            <td mat-cell *matCellDef="let row"> {{row.sku}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
            <td mat-cell *matCellDef="let element" class="actions">
                <div class="action-buttons-wrapper">
                    <a [routerLink]="['/products', element.id]">
                        <button mat-mini-fab>
                            <mat-icon matTooltip="detailed view" matTooltipShowDelay="750" matTooltipPosition="above">perm_identity</mat-icon>
                        </button>
                    </a>
                    <button mat-mini-fab>
                        <mat-icon matTooltip="edit product" matTooltipShowDelay="750" matTooltipPosition="above" (click)="openDialog(element.id)">edit</mat-icon>
                    </button>
                    <button mat-mini-fab>
                        <mat-icon matTooltip="delete product" matTooltipShowDelay="750" matTooltipPosition="above" color="warn" (click)="openConfirmationDialog(element.id)">delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of products"></mat-paginator>
</div>