<form [formGroup]="pairForm">
    <h4>Custom Properties</h4>
    @for(keyValuePair of customProperties.value; track $index; let i = $index){
    <div>
        <p> {{keyValuePair['key']}}: {{keyValuePair['value']}} </p>
        <input formControlName="key" [placeholder]="keyValuePair['key']"/>
        <input formControlName="value" [placeholder]="keyValuePair['value']"/>
        <button (click)="deleteProperty(i)">Delete</button>
    </div>
    }
    <button (click)="addProperty()">Add Property</button>
</form>